<!DOCTYPE html>
<html lang="en">
    <%-include('head')%>
<body>
    <h1 style="text-align: center; margin-top: 50px;"><%= title %></h1>
    <h2 style="margin: 15vh; text-align: center;"><%= name %></h2>
    <ul style="list-style: none; align-items: center; text-align: center;">
        <li style="padding: 10px; font-size: 32px;">Explore our <a href="/products" style="text-decoration-line: none;">Products Data</a></li>
        <li style="padding: 10px; font-size: 32px;">Explore our <a href="/categories" style="text-decoration-line: none;">Categories Data</a></li>
    </ul>
</body>
</html>